@model HrSystem.ViewModels.EmployeeViewModel





<section id="horizontal-form-layouts">
	

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title-wrap bar-success">
						<h4 class="card-title" id="horz-layout-basic"> Employee Information</h4>
					</div>
					<p class="mb-0"> <hr /></p>
				</div>
				<div class="card-body">
					<div class="px-3">


    <dl class="row ">
         <dt  c  class = "col-sm-2 mb-2">
        <img  src="~/ProfilePics/@Model.ProfilePicture" class="rounded " style="width:200px; height:150px;  border-radius: 50%; " />
        </dt>
     


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JopTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JopTitle)
        </dd>
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthOfDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthOfDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceTime)
        </dd>
        
    </dl>
</div>
<div class="ml-4 p-3">
    <a asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-outline-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
				</div>
			</div>
		</div>
	</div>


</section>