
@model List<SalaryReportViewModel>

<table class="table table-striped table-bordered zero-configuration mt-40">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
            <th>Attendance days</th>
            <th>Absent days</th>
            <th>Overtime hours</th>
            <th> Discount hours</th>
            <th>Extra</th>
            <th>discount</th>
            <th>Total</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.EmployeeName</td>
                <td>@report.Salary</td>
                <td>@report.AttendanceDays</td>
                <td>@report.AbsentDays</td>
                <td>@report.OvertimeHours</td>
                <td>@report.DiscountHours</td>
                <td>@Math.Round(report.Bonus,2)</td>
                <td>@Math.Round(report.Discount,2)</td>
                <td>@Math.Round(report.Total,2)</td>
                <td>
                    <button class="btn btn-danger mb-2">
                        <i class="ft-plus"></i>&nbsp;
                        <a href="invoice.html"> Invoice</a>
                    </button>
                </td>
            </tr>
        }


    </tbody>

</table>